In [1]:
import pandas as pd

In [2]:
house = pd.read_csv("house.csv")

In [3]:
house.head(3)

   SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood   Price
0  1790         2          2       2    No         East  114300
1  2030         4          2       3    No         East  114200
2  1740         3          2       1    No         East  114800

In [4]:
house_dummy = pd.get_dummies(data=house,drop_first=True)
house_dummy.head()

,SqFt,Bedrooms,Bathrooms,Offers,Price,Brick_Yes,Neighborhood_North,Neighborhood_West
0,1790,2,2,2,114300,0,0,0
1,2030,4,2,3,114200,0,0,0
2,1740,3,2,1,114800,0,0,0
3,1980,3,2,3,94700,0,0,0
4,2130,3,3,3,119800,0,0,0

In [5]:
x=house_dummy.drop(columns='Price')
y=house_dummy.Price

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20)

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline

In [10]:
house_model_steps = [('scale',StandardScaler()),('Predictive',LinearRegression())]

model = Pipeline(steps=house_model_steps)

model.fit(x_train,y_train)

In [11]:
model.score(x_train,y_train)

0.8813258917950167

In [12]:
model.score(x_test,y_test)

0.7575967410474516

In [13]:
# PCA
from sklearn.decomposition import PCA

In [14]:
house_model_steps = [('scale',StandardScaler()),('decompose',PCA(0.90)),('Predictive',LinearRegression())]

model = Pipeline(steps=house_model_steps)

In [15]:
model.fit(x_train,y_train)

Pipeline(steps=[('scale', StandardScaler()),
                ('decompose', PCA(n_components=0.9)),
                ('Predictive', LinearRegression())])

In [16]:
model.score(x_train,y_train)

0.812775425337942

In [17]:
model.score(x_test,y_test)

0.6110784814269759

In [18]:
# New model
house_model_steps = [('scale',StandardScaler()),('Predictive',LinearRegression())]

model = Pipeline(steps=house_model_steps)

model.fit(x_train,y_train)

Pipeline(steps=[('scale', StandardScaler()),
                ('Predictive', LinearRegression())])

In [19]:
newData = pd.read_csv("house new data for pred.csv")

In [20]:
newData.head()

   SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0  1520         2          1       1   Yes         East
1  1650         3          2       1    No         East
2  1800         3          2       1   Yes        North

In [21]:
newData_dummy = pd.get_dummies(data=newData,drop_first=True)

In [22]:
model.predict(newData_dummy)

/usr/local/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- Neighborhood_West

  warnings.warn(message, FutureWarning)

ValueError: X has 6 features, but StandardScaler is expecting 7 features as input.

In [24]:
x_train.head()

,SqFt,Bedrooms,Bathrooms,Offers,Brick_Yes,Neighborhood_North,Neighborhood_West
126,2020,3,3,1,0,0,1
5,1780,3,2,2,0,1,0
53,2100,3,2,3,0,1,0
124,2160,4,3,3,1,0,0
87,1880,3,3,1,1,0,1

In [25]:
newData_dummy

   SqFt  Bedrooms  Bathrooms  Offers  Brick_Yes  Neighborhood_North
0  1520         2          1       1          1                   0
1  1650         3          2       1          0                   0
2  1800         3          2       1          1                   1

In [26]:
newData

   SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0  1520         2          1       1   Yes         East
1  1650         3          2       1    No         East
2  1800         3          2       1   Yes        North

In [27]:
x_train.columns

Index(['SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Brick_Yes',
       'Neighborhood_North', 'Neighborhood_West'],
      dtype='object')

In [34]:
newData_dummy['Country']="India"

In [35]:
def process_newdata(data):
    
    model_columns = ['SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Brick_Yes',
       'Neighborhood_North', 'Neighborhood_West']
    
    for i in model_columns:
        if i not in data.columns:
            data[i]=0
    return(data[model_columns])

In [36]:
newData_dummy

,SqFt,Bedrooms,Bathrooms,Offers,Brick_Yes,Neighborhood_North,Neighborhood_West,Country
0,1520,2,1,1,1,0,0,India
1,1650,3,2,1,0,0,0,India
2,1800,3,2,1,1,1,0,India

In [37]:
process_newdata(newData_dummy)

,SqFt,Bedrooms,Bathrooms,Offers,Brick_Yes,Neighborhood_North,Neighborhood_West
0,1520,2,1,1,1,0,0
1,1650,3,2,1,0,0,0
2,1800,3,2,1,1,1,0

In [32]:
model.predict(process_newdata(newData_dummy))

array([106508.18274928, 106406.48548221, 135930.35238383])